
@media screen and (max-width:1000px) {
    .grass img, .hawaii img, .moe img{opacity: .2;}
    .art__container, .cols, .adobe {  
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
    .activities {width: 100%;}
    .container {width: 90%;}
    .vid iframe {width: 100%; height: 30%;}
    .pic {width: 100%;}
    .leaf img {width: 100px;}
    
}

@media screen and (max-width:650px) {
    .grass {position: relative; }
    .grass img {width: 400px; opacity: 1;}
    .hawaii img {width: 200px;}
    .hat img {width: 200px;}
    .hello, .sub__hello, .subsub__hello {margin-right: 5%;}
    .topnav {
        top: 0;
        text-align: center; 
        padding-bottom: 10px;
        display: block;
    }
    .topnav .name {
        margin: auto; 
        padding: 10px 10px 0px 10px;}
    .topnav .navlink {
        margin: auto;
    }
    .activities__title {display: none;}
    .activities__titlem {
        display: block; 
        opacity: 1; 
        margin: auto; 
        width: 120px;}
    .activities__titlem img {width: 100%;}
    .activities, .sidebyside {
        flex-wrap: wrap; 
        width: 100%;}
    .left, .right {
        width: 100%; 
        border: none;}
    .portfolio {
        max-width: 90%; 
        margin: auto;}
    .art, .description {
        max-width: unset; 
        width: 90%; 
        margin: 0px auto 20px;}
    .shade1, .shade2, .doodle {width: 50%;}
    .projects {max-width: 90%;}
    .art__container, .misc, .cols, .adobe {  
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

@media screen and (max-width:280px) {
    .topnav {font-size: .8em;}
    .topnav .item {padding: 10px;}
    .topnav .name {width: 100px;}
}