@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeDrop { from { left: 10px; opacity:0; } to { left: 0%; opacity:1; } }
@-moz-keyframes fadeDrop { from { left: 10px; opacity:0; } to { left: 0%; opacity:1; } }
@keyframes fadeDrop { from { left: 10px; opacity:0; } to { left: 0%; opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease 1;
    -moz-animation:fadeIn ease 1;
    animation:fadeIn ease 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    animation-delay: .7s;
  }
  
  .fade-in.delayed {
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s;
  }
  
.fade-drop {
    opacity:0;
    -webkit-animation:fadeDrop ease 1;
    -moz-animation:fadeDrop ease 1;
    animation:fadeDrop ease 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    animation-delay: .7s;
}

.fade-drop.delayed {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
    
    }

body {
    background: #f7f7f7;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #945861;
    position: relative;
}

ol {font-size: 18px;}

li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #945861;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

h2 {
    font-family: 'Vollkorn', serif;
    color: #945861;
    text-align: center;
    margin-block-start: .3em;
}

h3 {
    font-family: 'Vollkorn', serif;
    color: #aaa;
    text-align: left;
    margin: 10px 0px 5px;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
}
    p a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #945861;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    p a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }


footer {
    padding: 60px 20px;
    position: relative;
}

    footer a {
        padding: 0px 5px;
        color: #aaa;
        transition: .3s ease;
    }

    footer a:hover {
        color: #945861;
    }

    .social {
        float: right;
        padding: 20px 15px;
    }

    .foot__pic {
        position: absolute;
        left: -20;
        bottom: -60;
        z-index: -5;
        overflow: hidden;
    }

    .hawaii img {
        width: 260px;
        opacity: .5;
    }

    .moe img {
        width: 400px;
        opacity: .5;
    }

    .bamboo img {
        width: 200px;
        opacity: .5;
    }

    .cactus img {
        width: 140px;
        opacity: .5;
    }

.container {
    min-height: 80vh;
    width: 85%;
    margin: auto;
}

.container img {width: 100%;}

.port {width: 65%;}

.vid {
    width: 100%;
    margin: 20px auto;
}

    .vid iframe {
        width: 100%;
        height: 75%;
    }

.pic {
    width: 100%;
    margin: 20px auto 0px;
}

    .pic img {
        box-shadow: 0px 2px 3px 0 rgba(30, 30, 30, 0.1);
    }

.hat {
    position: absolute;
    right: 30px;
    top: 0;
    z-index: -5;
    /* overflow: hidden; */
}
    .hat img {
        width: 200px;
        opacity: .5;
        transform: rotate(30deg);

    }

    .leaf img {
        width: 150px;
        opacity: .5;
    }

.doodle {
    position: absolute;
    left: -50;
    top: 40%;
    z-index: -5;
    width: 300px;
    overflow: hidden;
}

    .doodle img {
        transform: rotate(30deg);
        opacity: .5;
    }

#back img, #next img {
    width: 50px;
    padding: 10px 10px 0px 10px;
    margin: 0;
}

#back a, #next a {
    font-family: 'Vollkorn', serif;
    opacity: .7;
    transition: .3s ease;
    color: rgba(0, 0, 0, .8);
}

#back a:hover, #next a:hover {opacity: 1;}


#back {
    text-align: left; 
    float: left;
}

#next {
    text-align: right; 
    float: right;
}

.topnav {
    font-family: 'Vollkorn', serif;
    text-transform: lowercase;
    z-index: 100;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

    .grass {
        position: absolute;
        right: 0;
        z-index: -5;
    }
        .grass img {
            width: 450px;
            opacity: .5;
        }


    .name {
        width: 200px;
        padding: 30px 20px 20px 30px;
    }

    .name svg {
        width: 100%;
        fill: #000;
        vertical-align: middle;
        transition: .3s ease;
    }

    .name svg:hover {fill: #945861;}

    .navlink {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
    }

    .topnav .item {padding: 5px 20px;}

    .topnav a {
        text-decoration: none;
        color: #000;
        padding: 0px 3px;
        transition: .3s ease;

    }

    .topnav a.active {color: #aaa;}

    .topnav a:hover {color: #945861;}

    .sticky {
        position: fixed;
        top: 0;
        background-color: rgba(247, 247, 247, .8);
    }
    
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .container {padding-top: 100px;}


.sidebyside {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

    .sidebyside img, .port img {
        width: 100%;
        margin: 10px 0px;
    }

.cols {    
    margin: auto;
    -webkit-column-count: 3;
    -webkit-column-gap:   20px;
    -moz-column-count:    3;
    -moz-column-gap:      20px;
    column-count:         3;
    column-gap:           20px; 

}

.hellobox {
    padding: 30px 0px;
}

    .hello {
        font-family: 'Vollkorn', serif;
        font-size: 3em;
        margin: 1% 25% 0% 0%;
        color: rgba(150, 88, 97, 0.7);
    }

    .sub__hello {
        margin: 0% 25% 0% 5%;
        font-size: 1.6em;
    }

    .subsub__hello {
        margin: 0% 25% 3% 5%;
    }

.separator {
    width: 200px;
    margin: auto;
    padding: 15px 0px;
}
    .separator img {
        width: 100%;
    }

.activities__title {
    width: 100%;
    margin: auto;
    text-align: center;
    }
    .activities__title img {
        width: 120px;
        padding: 0px 40px;
    }

    .activities__titlem {display: none;}

.activities {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    line-height: 1.5em;
}
    .activities img {
        width: 80px;
        padding: 0px 15px;
        transition: .3s ease;
        opacity: .7;
    }
    
    .activities img:hover {
        opacity: 1;
    }

    .blurb a {
        display: inline-block;
        text-decoration: none;
        color: #945861;
        font-family: "Vollkorn", serif;
        font-size: 18px;
    }

    .blurb a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #945861;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .blurb a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

.left {
    text-align: right;
    width: 48%;
    display: flex;  
    flex-flow: column nowrap;
    padding: 10px 20px;

    }
    .left__activity {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 0px;
    }

.right {
    text-align: left;
    width: 48%;
    display: flex;  
    flex-flow: column nowrap;
    padding: 10px 20px;
    border-left: 1px dashed black;
}

    .right__activity {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0px;
    }


.portfolio {
    min-width: 250px;
    max-height: 400px;
    overflow: hidden;
    padding: 10px;
    }

    .portfolio img {
        align-self: start;
        width: 100%;    
        box-shadow: 0px 2px 3px 0 rgba(30, 30, 30, 0.1);
    }

.projects__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

    .projects {
        max-width: 300px;
        padding: 10px 10px 20px;
    }

    .projects img {
        width: 95%;
    }

    .projects a {
        color: black;
    }

    .overlay2 {
        position: absolute;
        margin-top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .3s linear;
        z-index: 89;
      }

    .overlay2 img {
        width: 100%;
    }
    
    .projects:hover .overlay2 {
        opacity: 1;
      }

.art__container {
    margin: auto;
    -webkit-column-count: 3;
    -webkit-column-gap:   30px;
    -moz-column-count:    3;
    -moz-column-gap:      30px;
    column-count:         3;
    column-gap:           30px; 
}

.adobe {
    margin: auto;
    -webkit-column-count: 3;
    -webkit-column-gap:   10px;
    -moz-column-count:    3;
    -moz-column-gap:      10px;
    column-count:         3;
    column-gap:           10px; 
}

    .adobe img {
        padding: 0px 0px 10px;
        margin: 0px;
    }

.misc {
    margin: auto;
    -webkit-column-count: 2;
    -webkit-column-gap:   30px;
    -moz-column-count:    2;
    -moz-column-gap:      30px;
    column-count:         2;
    column-gap:           30px; 
}

.art {
    margin: 0px 0px 30px;
    padding: 0;
    position: relative;
}

    .art img {
        align-self: start;
        width: 100%;    
        box-shadow: 0px 2px 3px 0 rgba(30, 30, 30, 0.1);
        background-color: #fff;
    }

.shade1 {
    position: absolute;
    top: -100px;
    left: 0;
    width: 15%;
    z-index: -100;
    opacity: .6;
    overflow: hidden;
}

    .shade1 img {
        width: 100%;
        overflow: hidden;
    }

.shade2 {
    position: absolute;
    top: 200px;
    right: 0;
    width: 20%;
    z-index: -100;
    opacity: .6;
    overflow: hidden;
}

    .shade2 img {
        width: 100%;
        overflow: hidden;
    }

.overview {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

    .overview img {
        width: 250px;
        padding: 10px;
    }

.description {
    width: 63%;
    padding-left: 10px;
}

.caption {
    margin: auto;
    text-align: center;
    font-style: italic;
    font-size: 16px;
    padding: 10px 0px 25px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(148, 88, 97, .8);
  }

.art:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.mobile {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    }

    .mobile img {
        width: 300px;
        margin: 10px;
        box-shadow: 0px 2px 3px 0 rgba(30, 30, 30, 0.1);
    }

.boticon {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
}

.boticon img {
    width: 100px;
}

.whatis {
    float: right;
    font-size: .8em;
}

.whatis a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #945861;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.whatis a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.gameplay {
    width: 100%;
    margin: 20px 0px;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;  
    pointer-events: none;
}

ul {
    line-height: 1.5em;
}