@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeDrop { from { left: 10px; opacity:0; } to { left: 0%; opacity:1; } }
@-moz-keyframes fadeDrop { from { left: 10px; opacity:0; } to { left: 0%; opacity:1; } }
@keyframes fadeDrop { from { left: 10px; opacity:0; } to { left: 0%; opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease 1;
    -moz-animation:fadeIn ease 1;
    animation:fadeIn ease 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    animation-delay: .7s;
  }
  
  .fade-in.delayed {
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s;
  }
  
.fade-drop {
    opacity:0;
    -webkit-animation:fadeDrop ease 1;
    -moz-animation:fadeDrop ease 1;
    animation:fadeDrop ease 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    animation-delay: .7s;
}

.fade-drop.delayed {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
    
    }

body {
    background: #f7f7f7;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #945861;
    position: relative;
}

p {

}
    p a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #945861;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    p a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

footer {
    padding: 15px 20px;
    position: relative;
    bottom: 0;
}

    footer a {
        padding: 0px 5px;
        color: #777;
    }

    footer a:hover {
        color: #945861;
    }

    .social {
        float: right;
        padding: 20px 15px;
    }

    .hawaii {
        position: absolute;
        left: 0;
        bottom: -40;
        z-index: -5;
    }
        .hawaii img {
            width: 300px;
            opacity: .5;
        }

.topnav {
    font-family: 'Vollkorn', serif;
    text-transform: lowercase;
    text-align: left;
    z-index: 5;
    width: 100%;

}

    .grass {
        position: absolute;
        right: 0;
        z-index: -5;
    }
        .grass img {
            width: 500px;
            opacity: .5;
        }


    .name {
        display: inline-block;
        width: 200px;
        padding: 30px 20px 20px 30px;
    }

    .name svg {
        width: 100%;
        fill: #000;
        vertical-align: middle;
    }

    .name svg:hover {
        fill: #945861;
    }

    .topnav .item {
        padding: 1% 20px;
        display: inline-block;
        width: unset;
    }

    .topnav a {
        text-decoration: none;
        color: #000;
        padding: 0px 3px;
    }

    .topnav a.active {
        color: #777;
    }

    .topnav a:hover {
        color: #945861;
    }

    .sticky {
        position: fixed;
        top: 0;
        background-color: rgb(247, 247, 247, .6);
    }
    
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .container {
        padding-top: 100px;
    }


.container {
    min-height: 80vh;
    width: 86%;
    margin: auto;
}
.hellobox {
    padding: 30px 0px;
}

    .hello {
        font-family: 'Vollkorn', serif;
        font-size: 3em;
        margin: 1% 20% 0% 5%;
        color: rgba(150, 88, 97, 0.7);
    }

    .sub__hello {
        margin: 0% 20% 0% 10%;
        font-size: 1.6em;
    }

    .subsub__hello {
        margin: 0% 20% 3% 10%;
    }

.separator {
    width: 200px;
    margin: auto;
    padding: 15px 0px;
}
    .separator img {
        width: 100%;
    }

@media screen and (max-width:650px) {

    .grass {bottom: 0;}
    .grass img {width: 400px; opacity: .3;}
    .hawaii img {width: 200px; opacity: .3;}
    .container {width: 100%;}
    .hello, .sub__hello, .subsub__hello {margin-right: 5%;}
    .topnav {text-align: center; padding-bottom: 10px;}
    .topnav .name {display: block; margin: auto; padding: 10px 10px 0px 10px;}
}