@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeDrop { from { left: 10px; opacity:0; } to { left: 0%; opacity:1; } }
@-moz-keyframes fadeDrop { from { left: 10px; opacity:0; } to { left: 0%; opacity:1; } }
@keyframes fadeDrop { from { left: 10px; opacity:0; } to { left: 0%; opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease 1;
  -moz-animation:fadeIn ease 1;
  animation:fadeIn ease 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  animation-delay: .7s;
}

.fade-in.delayed {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.fade-drop {
    opacity:0;
    -webkit-animation:fadeDrop ease 1;
    -moz-animation:fadeDrop ease 1;
    animation:fadeDrop ease 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    animation-delay: .7s;
  }
  
.fade-drop.delayed {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
    
  }

body {
    background: #efefef;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: .8;
    color: 
}

h1 {
    font-size: 34px;
    font-family: 'Vollkorn', serif;
    text-transform: lowercase;
    text-align: right;
    font-weight: 200;
    margin: 10px 0px;
}

h2 {
    font-size: 64px;
    font-family: 'Vollkorn', serif;
    color: #945861;
    text-transform: lowercase;
    font-weight: 300;
    line-height: 30%;
}

h3 {
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    color: rgba(0, 0, 0, .3);
    margin: 10px 0px -20px 0px;
}

h3 a:hover {
    color: #945861;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 10%;
    font-size: 16px;
}

li {
    text-align: right;
}

li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    text-transform: lowercase;
}

li a.active {
    color: #828282;
}


li a:hover {
    color: #945861;
}

p a {
    text-decoration: none;
    color: #945861;
    position: relative;
}

p a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #945861;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

p a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.container {
    display: flex;
}

.nav {
    position: relative;
    float: left;
    width: 10%;
    height: 110%;
    z-index: 12;
    margin: 20px 30px 0px 0px;
    font-family: 'Vollkorn', serif;
}

    .nav__social {
        position: fixed;
        bottom: 0;
        width: 10%;
        text-align: right;
    }

    .nav__social a {
        text-decoration: none;
        color: #828282;
        padding: 5px 0px 0px 5px;
    }

    .nav__social a:hover {
        color: #945861;
    }

.main {
    width: 85%;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    }

    .main.index {

        background-image: url('me.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right bottom;
        background-size: 30%;
        min-height: 100vh;
    }


.art {
    width: 65%;
    display: inline-block;
    margin: 10px 0px;
}

    .art.pic {
        width: 100%;
        box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
    }

.hello {
    font-family: 'Vollkorn', serif;
    font-size: 72px;
    position: relative;
    margin: 10% 3% 0% 10%;
    color: rgba(150, 88, 97, 0.7);
}

    .sub__hello {
        position: relative; 
        margin: -3% 10% 0% 15%;
        font-size: 30px;

    }

    .home {
        position: relative;
        margin: 2% 15% 0% 15%;
        font-size: 14px;
        line-height: 160%;
    }

.hot__bod {
    position: relative;
    margin: 2% 10% 0% 5%;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.portfolio {
    width: 400px;
    min-height: 350px;
    display: inline-block;
    text-align: right;
    margin: 10px;
}

    .portfolio.cover {
        width: 400px;
        max-height: 300px;
        overflow: hidden;
        box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
    }​
